body
{
    color: black;
    background-color: black;
	background-image: url(wallpaper.jpg);
    max-height: 500px;
}



.thumb
{
	border: 2px solid black;
    display: block;
    width: 100px;
    height: 75px;
    float: left;
    margin: 1px 1px 1px 1px;
    background-color: balck;
}


img
{
margin: 1px;
padding: 0px;
width: 100px;
height: 75px;
}

.thumb a:hover img
{
    position: relative;
    top: 75px;
    width: 600px;
    height: 450px;
}

.thumb:hover 
{
	border: 3px solid red;
}

.thumb, a
{
display: block;
}
