html
{
	background-image: url('image/back.jpg');
	background-position: center;
	background-attachment: fixed;
}

body
{
	padding: 8px 12px 8px 12px;
	font-family: "Berlin Sans FB";
}

.tab
{
	margin: 5px;
	margin-top:20px;
	width: 100%;
	background-color: #0F4017;
	border: 1px black double;
}

.tabrest
{
	margin: 5px;
	margin-top:10px;
	margin-left: auto;
  	margin-right: auto;
	background-color: #0F4017;
	border: 1px black double;
}

.tabrest td
{
	background-color:#E9E7DA;
	border:1px black ridge;
	padding:5px;
}

.tabhead
{
	text-align:center;
	text-transform:uppercase;
	font-size:16px;
	background-color:#DDDDDD;
	margin-bottom:20px;
	padding-bottom:20px;
}

.tabhead td
{
	background-color:#DDDDDD;
	margin-bottom:5px;
	padding-bottom:5px;
}


.tab td
{
	background-color:#E9E7DA;
	border:1px black ridge;
	padding:5px;
}


#baniere 
{
	background-image:url('image/logo.png');
	
	text-align: center;
	margin:auto;
	margin-bottom: 72px;
	position: relative;
	width: 680px;
	height: 200px;
}

/*************************************************************/

.titlemen
{
	font-size: 20px;
	text-transform: capitalize;
	color: #003300;
}

#info
{
	text-align: center;
}

#info #menu
{
	text-align:left;
}

#menu ul 
{
	list-style:none;
}

#menu li
{
	margin-top:12px;
	margin-bottom:12px;
	width:100px;
	
}

#menu a
{
	text-decoration: none;
	color: black;
	border: 2px black double;
	padding: 3px;
	text-transform: capitalize;
}

#menu a:hover
{
	color: #4F3C73;
	background-image:url('http://opengameart.org/sites/default/files/wood_pre.png')
}


#menu ul li ul
{
	display: none;
}

#menu li:hover ul
{
	display:inline-block;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sousTitre
{
	font-size: 18px;
	font-style: italic;
	padding: 5px;
	margin: 6px;
}

#panneau
{
	border: 3px groove #CCFFCC;
	padding: 10px;
	margin-top: 16px;
	float: inherit;
	display: block;
	overflow: auto;
	background-image: url('http://wolpeper.com/sapin-givre.jpg');
	background-position: center;
	background-attachment: fixed;
}

#panneau #info
{
	background-color: #FFFFFF;
	border: 2px groove #000000;
	width: 200px;
	float: left;
	display: block;
}


#panneau #affichage
{
	background-color: #F3F3F3;
	border: 2px groove #3C3E46;
	padding: 10px;
	margin-left: 230px;
	min-height: 500px;
}

.erreur
{
	color:maroon;
}

#label1
{
	width:50px;
}

#barreBas
{
	border: 3px groove #CCFFCC;
	margin-top: 16px;
	padding: 10px;
	background-image: url('http://wolpeper.com/sapin-givre.jpg');
	background-position: center;
	color: #FFFFFF;
}
